<%- include("header"); -%>

<body>
  <div class="box" id="heading">
    <h1><%= day %> </h1>
  </div>

  <div class="box">

    <% for (var i=0; i<added_items.length; i++)  { %>
    <div class="item">
      <input type="checkbox" name="" value="">
      <p> <%= added_items[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" value="">
      <button type="submit" name="button">+</button>
    </form>
  </div>


</body>

<%- include("footer"); -%>
